<!DOCTYPE html>
<html>
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Custom calltune</title>
<meta charset="utf-8">
	<style >
		.card {
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
			transition: 0.3s;
			width: 15%;
			float: left;
			margin-right: 25px;
			margin-left:40px;
			text-align: center;
			margin-bottom: 50px;
			margin-top: 50px;
		}
		.card1 {
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
			transition: 0.3s;
			width: 15%;
			float: right;
			margin-right: 40px;
			margin-left:25px;
			text-align: center;

		}
		.card:hover {
			box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		}
		.card1:hover {
			box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		}
		.container{
			padding: 2px;
			margin-right: 25px;
			background: #008621;
			color: #FFFFFF;
			width: 100%;
		}
		img {


			cursor:pointer;

		}

	</style>
	<script type="text/javascript">
	var i,j,k,l,m,n,o,p,q,r;
	i=j=k=m=l=n=o=p=q=r=0;
		var a=new Audio("{{ url_for('static', filename='audio/Tena - Peakly.mp3') }}");
		var b=new Audio("{{ url_for('static', filename='audio/Tena - Korng Sakour.mp3') }}");
		var c=new Audio("{{ url_for('static', filename='audio/Tena - Mnus Laor .mp3') }}");
		var d=new Audio("{{ url_for('static', filename='audio/Tena - Khos Chumnorn.mp3') }}");
		var e=new Audio("{{ url_for('static', filename='audio/Tena - Love Is Singular.mp3') }}");
		var f=new Audio("{{ url_for('static', filename='audio/Justin Bieber - Sorry.mp3') }}");
		var g=new Audio("{{ url_for('static', filename='audio/Alan Walker - Faded.mp3') }}");
		var h=new Audio("{{ url_for('static', filename='audio/Taylor Swift - Ready For It') }}");
		var x=new Audio("{{ url_for('static', filename='audio/Grace VanderWaal - Moonlight .mp3') }}");
		var z=new Audio("{{ url_for('static', filename='audio/Shawn Mendes - Bad Reputation.mp3') }}");
		function myAudioFunction(si)
		{
			if(si=='A')
			{
				j=k=m=l=n=o=p=q=r=0;
				b.currentTime=0;
				c.currentTime=0;
				d.currentTime=0;
				e.currentTime=0;
				f.currentTime=0;
				g.currentTime=0;
				h.currentTime=0;
				x.currentTime=0;
				z.currentTime=0;
					i++;
				if(i%2==0)
					a.pause();
				else
					a.play();
				b.pause();
				c.pause();
				d.pause();
				e.pause();
				f.pause();
				g.pause();
				h.pause();
				x.pause();
				z.pause();
			}

			else if (si=='B')
			{
				i=k=m=l=n=o=p=q=r=0;
				a.currentTime=0;
				c.currentTime=0;
				d.currentTime=0;
				e.currentTime=0;
				f.currentTime=0;
				g.currentTime=0;
				h.currentTime=0;
				x.currentTime=0;
				z.currentTime=0;
				j++;
				if(j%2==0)
					b.pause();
				else
					b.play();
				a.pause();
				c.pause();
				d.pause();
				e.pause();
				f.pause();
				g.pause();
				h.pause();
				x.pause();
				z.pause();
			}
			else if(si=='C')
			{
			i=j=m=l=n=o=p=q=r=0;
				a.currentTime=0;
				b.currentTime=0;
				d.currentTime=0;
				e.currentTime=0;
				f.currentTime=0;
				g.currentTime=0;
				h.currentTime=0;
				x.currentTime=0;
				z.currentTime=0;
				j=0;
				k++;
				if(k%2==0)
					c.pause();
				else
					c.play();
				a.pause();
				b.pause();
				d.pause();
				e.pause();
				f.pause();
				g.pause();
				h.pause();
				x.pause();
				z.pause();
			}
			else if(si=='D')
			{
				i=j=k=m=n=o=p=q=r=0;
				a.currentTime=0;
				b.currentTime=0;
				c.currentTime=0;
				e.currentTime=0;
				f.currentTime=0;
				g.currentTime=0;
				h.currentTime=0;
				x.currentTime=0;
				z.currentTime=0;
				l++;
				if(l%2==0)
					d.pause();
				else
					d.play();
				a.pause();
				b.pause();
				c.pause();
				e.pause();
				f.pause();
				g.pause();
				h.pause();
				x.pause();
				z.pause();
			}
			else if(si=='E')
			{
				i=j=k=l=n=o=p=q=r=0;
				a.currentTime=0;
				b.currentTime=0;
				c.currentTime=0;
				d.currentTime=0;
				f.currentTime=0;
				g.currentTime=0;
				h.currentTime=0;
				x.currentTime=0;
				z.currentTime=0;
				m++;
				if(m%2==0)
					e.pause();
				else
					e.play();
			a.pause();
			b.pause();
			c.pause();
			d.pause();
			f.pause();
			g.pause();
			h.pause();
			x.pause();
			z.pause();
			}
			else if(si=='F')
			{
				i=j=k=l=o=p=q=r=0;
				a.currentTime=0;
				b.currentTime=0;
				c.currentTime=0;
				d.currentTime=0;
				e.currentTime=0;
				g.currentTime=0;
				h.currentTime=0;
				x.currentTime=0;
				z.currentTime=0;
				n++;
				if(n%2==0)
					f.pause();
				else
					f.play();
			a.pause();
			b.pause();
			c.pause();
			d.pause();
			e.pause();
			g.pause();
			h.pause();
			x.pause();
			z.pause();
			}
			else if(si=='G')
			{
				i=j=k=l=p=q=r=0;
				a.currentTime=0;
				b.currentTime=0;
				c.currentTime=0;
				d.currentTime=0;
				f.currentTime=0;
				e.currentTime=0;
				h.currentTime=0;
				x.currentTime=0;
				z.currentTime=0;
				o++;
				if(o%2==0)
					g.pause();
				else
					g.play();
			a.pause();
			b.pause();
			c.pause();
			d.pause();
			e.pause();
			f.pause();
			h.pause();
			x.pause();
			z.pause();
			}

	else if(si=='H')
			{
				i=j=k=l=o=q=r=0;
				a.currentTime=0;
				b.currentTime=0;
				c.currentTime=0;
				d.currentTime=0;
				f.currentTime=0;
				g.currentTime=0;
				e.currentTime=0;
				x.currentTime=0;
				z.currentTime=0;
				p++;
				if(p%2==0)
					h.pause();
				else
					h.play();
			a.pause();
			b.pause();
			c.pause();
			d.pause();
			e.pause();
			g.pause();
			f.pause();
			x.pause();
			z.pause();
			}
			else if(si=='I')
			{
				i=j=k=l=o=p=r=0;
				a.currentTime=0;
				b.currentTime=0;
				c.currentTime=0;
				d.currentTime=0;
				f.currentTime=0;
				g.currentTime=0;
				h.currentTime=0;
				e.currentTime=0;
				z.currentTime=0;
				q++;
				if(q%2==0)
					x.pause();
				else
					x.play();
			a.pause();
			b.pause();
			c.pause();
			d.pause();
			e.pause();
			g.pause();
			h.pause();
			f.pause();
			z.pause();
			}
			else if(si=='J')
			{
				i=j=k=l=o=p=q=0;
				a.currentTime=0;
				b.currentTime=0;
				c.currentTime=0;
				d.currentTime=0;
				f.currentTime=0;
				g.currentTime=0;
				h.currentTime=0;
				x.currentTime=0;
				e.currentTime=0;
				r++;
				if(r%2==0)
					z.pause();
				else
					z.play();
			a.pause();
			b.pause();
			c.pause();
			d.pause();
			e.pause();
			g.pause();
			h.pause();
			x.pause();
			f.pause();
			}
		}
	</script>

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SmartCallTune</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Artist</a></li>
      <li><a href="#">Register</a></li>
    </ul>
    <form class="navbar-form navbar-left">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="Search">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</nav>

<div class="card">
	<a onclick="myAudioFunction('A');"><img src="{{ url_for('static', filename='image/jb.jpg') }}" alt="justin bieber" style="width: 100%;,height: 100%;"></a>
	<div class="container">
		<h4><b>ពលី</b></h4>
		<p>123538</p>
	</div>
</div>
<div class="card">
	<a onclick="myAudioFunction('B');"><img src="{{ url_for('static', filename='image/jb.jpg') }}" alt="justin bieber" style="width: 100%; ,height: 100%;"></a>
	<div class="container">
		<h4><b>កង់សាគួរ</b></h4>
		<p>123539</p>
	</div>
</div>
<div class="card">
	<a onclick="myAudioFunction('C');"><img src="{{ url_for('static', filename='image/jb.jpg') }}" alt="justin bieber" style="width: 100%;,height: 100%;"></a>
	<div class="container">
		<h4><b>មនុស្សល្អ</b></h4>
		<p>123540</p>
	</div>
</div>
<div class="card">
	<a onclick="myAudioFunction('D');"><img src="{{ url_for('static', filename='image/jb.jpg') }}" alt="justin bieber" style="width: 100%;,height: 100%;"></a>
	<div class="container">
		<h4><b>ខុសជំនាន់</b></h4>
		<p>123541</p>
	</div>
</div>
<div class="card">
	<a onclick="myAudioFunction('E');"><img src="{{ url_for('static', filename='image/jb.jpg') }}" alt="justin bieber" style="width: 100%;,height: 100%;"></a>
	<div class="container">
		<h4><b>Love​ is Singular</b></h4>
		<p>123542</p>
	</div>
</div>


<div class="card1">
	<a onclick="myAudioFunction('F');"><img src="{{ url_for('static', filename='image/justin.png') }}" alt="justin bieber" style="width: 202.34px;height:134.64px;"></a>
	<div class="container">
		<h4><b>Sorry</b></h4>
		<p>123543</p>
	</div>
</div>
<div class="card1">
	<a onclick="myAudioFunction('G');"><img src="{{ url_for('static', filename='image/alanwalker.png') }}" alt="justin bieber" style="width: 100%; ,height: 100%;"></a>
	<div class="container">
		<h4><b>Fade</b></h4>
		<p>123544</p>
	</div>
</div>
<div class="card1">
	<a onclick="myAudioFunction('H');"><img src="{{ url_for('static', filename='image/taylor.png') }}" alt="justin bieber" style="width: 100%;,height: 100%;"></a>
	<div class="container">
		<h4><b>Ready for it</b></h4>
		<p>123545</p>
	</div>
</div>
<div class="card1">
	<a onclick="myAudioFunction('I');"><img src="{{ url_for('static', filename='image/grace.png') }}" alt="justin bieber" style="width: 100%;,height: 100%;"></a>
	<div class="container">
		<h4><b>Moonlight</b></h4>
		<p>123546</p>
	</div>
</div>
<div class="card1">
	<a onclick="myAudioFunction('J');"><img src="{{ url_for('static', filename='image/shaw.png') }}" alt="justin bieber" style="width: 100%;,height: 100%;"></a>
	<div class="container">
		<h4><b>Bad Reputation</b></h4>
		<p>123547</p>
	</div>
</div>
</body>
</html>
